.aside {
  position: fixed;
  left: 0;
  top: 30px;
  width: 300px;
  height: 100%;
  padding: 40px 30px 30px 30px;
  background: var(--text-color);
  border-radius: 0 10px 0 0;
}

.title {
  margin-top: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--background-color);
}

.button {
  margin: 0;
  border: none;
  color: var(--background-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: var(--secondary-color);
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;

}

.projects li {
  padding: 5px;
  color: var(--background-color);
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.projects li.active {
  background: rgba(0, 0, 0, 0.27);
}